<?php if(!empty($this->getProducts())): ?>
    <div id="simple-essentials-popup-overlay" class="active">
        <div id="simple-essentials-popup">
            <p class="title"><?php echo $this->getTitle(); ?></p>
            <ul>
                <!-- @todo implement scroller -->
                <?php foreach ($this->getProducts() as $product): ?>
                    <li class="product">
                        <div class="image">
                            <a href="<?php echo $product->getUrlPath();?>"><img src="<?php echo Mage::helper('catalog/image')->init($product, 'image')->resize(300,300); ?>"/></a>
                        </div>
                        <p class="name"><?php echo $product->getName();?></p>
                        <p class="price"><?php echo Mage::helper('core')->currency($product->getPrice(), true, false);?></p>
                        <div class="actions">
                            <a href="<?php echo $product->getUrlPath();?>">Buy Now</a>
                        </div>
                    </li>
                <?php endforeach;?>
            </ul>
        </div>
    </div>
<?php endif;?>

<!-- @todo Move to seperate SCSS / CSS -->
<style>
#simple-essentials-popup-overlay {
    display: none;
}

#simple-essentials-popup-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

#simple-essentials-popup {
    background: #fff;
    width: 50%;
    min-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#simple-essentials-popup li.product .image img {
    width: 100%;
}

#simple-essentials-popup > ul {
    width: 100%;
}

#simple-essentials-popup > p.title {
    font-weight: 400;
    margin-bottom: 20px;
}

#simple-essentials-popup li.product {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    width: 100%;
}

#simple-essentials-popup li.product + li.product {
    border-bottom: 1px solid #ccc;
}

#simple-essentials-popup li.product:last-of-type {
    border-bottom: none;
}

#simple-essentials-popup li.product .image {
    width: 100%;
    border: 1px solid #ccc;
    padding: 1px;
    min-height: 150px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#simple-essentials-popup li.product .name {
    margin-bottom: 5px;
}
#simple-essentials-popup li.product .price {
    margin-bottom: 5px;
}
@media (min-width: 1200px) {
    #simple-essentials-popup > p.title {
        font-size: 21px;
    }

    #simple-essentials-popup li.product {
        width: 33%;
        padding: 0 10px;
    }

    #simple-essentials-popup li.product + li.product {
        border-bottom: none;
        border-left: 1px solid #ccc;
    }
    #simple-essentials-popup li.product:last-of-type {
        border-left: none;
    }
}
</style>

<!-- @todo Move to seperate JS and convert to jQuery -->
<script>
    document.getElementById('simple-essentials-popup-overlay').onclick = function(){
        document.getElementById('simple-essentials-popup-overlay').classList.remove("active");
    }
    document.getElementById('simple-essentials-popup').onclick = function(e){
        e.stopImmediatePropagation();
    }
</script>